<footer
  class="d-flex justify-content-center align-items-center flex-column py-3"
>
  <div class="f-social-links">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-linkedin"></i>
  </div>
  <div>&copy; WanderLust private limited</div>
  <div class="term-and-condition-div">
    <a href="/privacy" class="text-decoration-none text-dark">Privacy</a>
    <a href="/terms" class="text-decoration-none text-dark">Terms</a>
  </div>
</footer>
