<nav class="navbar navbar-expand-sm fixed-top border-bottom">
  <a class="navbar-brand" href="#"><i class="fa-solid fa-compass"></i></a>
  <button
    class="d-md-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fa-solid fa-bars" style="color: #b197fc"></i>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link text-dark" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/listings">Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/listings/new">New Listings</a>
      </li>
    </ul>
  </div>
</nav>
